[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                filter => "*.erl",
                ignore => ["consuela_duration.erl"],
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    % Too opionated
                    {elvis_style, state_record_and_type, disable},
                    {elvis_style, no_if_expression, disable},
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
                ]
            },
            #{
                dirs => ["test"],
                filter => "*.erl",
                ignore => [],
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_style, invalid_dynamic_call, #{ignore => [ct_proxy_protocol]}},
                    % We want to use `ct:pal/2` and friends in test code.
                    {elvis_style, no_debug_call, disable},
                    % Assert macros can trigger use of ignored binding, yet we want them for better
                    % readability.
                    {elvis_style, used_ignored_variable, disable},
                    % Tests are usually more comprehensible when a bit more verbose.
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
                    % Too opionated
                    {elvis_style, state_record_and_type, disable},
                    {elvis_style, no_if_expression, disable}
                ]
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace}
                ]
            },
            #{
                dirs => ["src"],
                filter => "*.app.src",
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace}
                ]
            }
        ]}
    ]}
].
